<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>eCommerce Product Detail</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <div class="card">
        <div class="container-fliud">
          <div class="wrapper row">
            <div class="preview col-md-6">
              <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2542/7564/products/1_35796c2c-9228-4209-b612-1fd2cbb07bbc_1800x1800.png?v=1630920975"
                  />
                </div>
                <div class="tab-pane" id="pic-2">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2542/7564/products/6_1f6dba8f-16b8-4019-97fb-91df354a6528_1800x1800.png?v=1630920975"
                  />
                </div>
                <div class="tab-pane" id="pic-3">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2542/7564/products/7_1bb854bb-10ad-4966-ab03-718983645fa8_1800x1800.png?v=1630920975"
                  />
                </div>
                <div class="tab-pane" id="pic-4">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2542/7564/products/3_1e5c98d2-a778-41b3-aa38-e848e6b3dfc6_1800x1800.png?v=1630920975"
                  />
                </div>
                <div class="tab-pane" id="pic-5">
                  <img
                    src="https://contents.mediadecathlon.com/p1811486/61a7a0b2eb9a79800998295eec69466a/p1811486.jpg?format=auto&quality=70&f=650x0"
                  />
                </div>
              </div>
              <ul class="preview-thumbnail nav nav-tabs">
                <li class="active">
                  <a data-target="#pic-1" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/2542/7564/products/8_62f88a3f-2957-4494-8c76-6fa07f45e411_1800x1800.png?v=1610105060"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-2" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/2542/7564/products/7_1bb854bb-10ad-4966-ab03-718983645fa8_1800x1800.png?v=1630920975"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-3" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/2542/7564/products/6_1f6dba8f-16b8-4019-97fb-91df354a6528_1800x1800.png?v=1630920975"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-4" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/2542/7564/products/5_3e5ce8c6-51d2-4fe9-9931-9448312458c6_1800x1800.png?v=1630920975"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-5" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/2542/7564/products/3_1e5c98d2-a778-41b3-aa38-e848e6b3dfc6_1800x1800.png?v=1630920975"
                  /></a>
                </li>
              </ul>
            </div>
            <div class="details col-md-6">
              <h3 class="product-title">Adonis blue gotapatti sharara set</h3>
              <div class="rating">
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span class="review-no">50 reviews</span>
              </div>
              <p class="product-description">
                This three-piece gota patti Sharara suit set. Color: Aqua Blue
                Suit Set Fabric: Cotton Dupatta Fabric: Organza Neckline:
                Sweatheart neck Sleeve: 3/4th sleeves Handcrafted: Gota
                Detailing CARE: Dry Clean Only Model Size: Model is wearing S
                Size Model Height: 5'9"
              </p>
              <h4 class="price">current price: <span>Rs.4199/-</span></h4>
              <p class="vote">
                <strong>91%</strong> of buyers enjoyed this product!
                <strong>(90 votes)</strong>
              </p>
              <h5 class="sizes">
                sizes:
                <span class="size" data-toggle="tooltip" title="small">M</span>
                <span class="size" data-toggle="tooltip" title="medium">L</span>
                <span class="size" data-toggle="tooltip" title="large">XL</span>
                <span class="size" data-toggle="tooltip" title="xtra large"
                  >XXL</span
                >
              </h5>
              <h5 class="colors">
                colors:
                <span
                  class="color orange not-available"
                  data-toggle="tooltip"
                  title="Not In store"
                ></span>
                <span class="color green"></span>
                <span class="color blue"></span>
              </h5>
              <div class="action">
                <button class="add-to-cart btn btn-default" type="button">
                  add to cart
                </button>
                <button
                  class="like btn btn-default"
                  type="button"
                  style="float:right"
                >
                  <span class="fa fa-heart"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1">
                <img
                  src="https://contents.mediadecathlon.com/p2175064/a323df0c88381a47cf8c79a3a38aeb5f/p2175064.jpg?format=auto&quality=70&f=650x0"
                />
              </div>
              <div class="tab-pane" id="pic-2">
                <img
                  src="https://contents.mediadecathlon.com/p2369285/c36e25e6868a2053af0e80b277f36316/p2369285.jpg?format=auto&quality=70&f=650x0"
                />
              </div>
              <div class="tab-pane" id="pic-3">
                <img
                  src="https://contents.mediadecathlon.com/p1811414/e3eeefc9ea70b5db4db4757e5098bf42/p1811414.jpg?format=auto&quality=70&f=650x0"
                />
              </div>
              <div class="tab-pane" id="pic-4">
                <img
                  src="https://contents.mediadecathlon.com/p1811427/79d488604a04ca6232460f9e3e031fa8/p1811427.jpg?format=auto&quality=70&f=650x0"
                />
              </div>
              <div class="tab-pane" id="pic-5">
                <img
                  src="https://contents.mediadecathlon.com/p1811486/61a7a0b2eb9a79800998295eec69466a/p1811486.jpg?format=auto&quality=70&f=650x0"
                />
              </div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active">
                <a data-target="#pic-1" data-toggle="tab"
                  ><img
                    src="https://contents.mediadecathlon.com/p2175064/a323df0c88381a47cf8c79a3a38aeb5f/p2175064.jpg?format=auto&quality=70&f=650x0"
                /></a>
              </li>
              <li>
                <a data-target="#pic-2" data-toggle="tab"
                  ><img
                    src="https://contents.mediadecathlon.com/p2369285/c36e25e6868a2053af0e80b277f36316/p2369285.jpg?format=auto&quality=70&f=650x0"
                /></a>
              </li>
              <li>
                <a data-target="#pic-3" data-toggle="tab"
                  ><img
                    src="https://contents.mediadecathlon.com/p1811414/e3eeefc9ea70b5db4db4757e5098bf42/p1811414.jpg?format=auto&quality=70&f=650x0"
                /></a>
              </li>
              <li>
                <a data-target="#pic-4" data-toggle="tab"
                  ><img
                    src="https://contents.mediadecathlon.com/p1811427/79d488604a04ca6232460f9e3e031fa8/p1811427.jpg?format=auto&quality=70&f=650x0"
                /></a>
              </li>
              <li>
                <a data-target="#pic-5" data-toggle="tab"
                  ><img
                    src="https://contents.mediadecathlon.com/p1811486/61a7a0b2eb9a79800998295eec69466a/p1811486.jpg?format=auto&quality=70&f=650x0"
                /></a>
              </li>
            </ul>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">men's shoes fashion</h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <p class="product-description">
              Suspendisse quos? Tempus cras iure temporibus? Eu laudantium
              cubilia sem sem! Repudiandae et! Massa senectus enim minim
              sociosqu delectus posuere.
            </p>
            <h4 class="price">current price: <span>$180</span></h4>
            <p class="vote">
              <strong>91%</strong> of buyers enjoyed this product!
              <strong>(87 votes)</strong>
            </p>
            <h5 class="sizes">
              sizes:
              <span class="size" data-toggle="tooltip" title="small">8</span>
              <span class="size" data-toggle="tooltip" title="medium">9</span>
              <span class="size" data-toggle="tooltip" title="large">10</span>
              <span class="size" data-toggle="tooltip" title="xtra large"
                >11</span
              >
            </h5>
            <h5 class="colors">
              colors:
              <span
                class="color orange not-available"
                data-toggle="tooltip"
                title="Not In store"
              ></span>
              <span class="color green"></span>
              <span class="color blue"></span>
            </h5>
            <div class="action">
              <button class="add-to-cart btn btn-default" type="button">
                add to cart
              </button>
              <button
                class="like btn btn-default"
                type="button"
                style="float:right"
              >
                <span class="fa fa-heart"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="card">
        <div class="container-fliud">
          <div class="wrapper row">
            <div class="preview col-md-6">
              <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0254/5883/5510/products/SS_1024x1024.jpg?v=1647089566"
                  />
                </div>
                <div class="tab-pane" id="pic-2">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0254/5883/5510/products/SS_1024x1024.jpg?v=1647089566"
                  />" />
                </div>
                <div class="tab-pane" id="pic-3">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2542/7564/products/7_1bb854bb-10ad-4966-ab03-718983645fa8_1800x1800.png?v=1630920975"
                  />
                </div>
                <div class="tab-pane" id="pic-4">
                  <img
                    src="https://cdn.shopify.com/s/files/1/2542/7564/products/3_1e5c98d2-a778-41b3-aa38-e848e6b3dfc6_1800x1800.png?v=1630920975"
                  />
                </div>
                <div class="tab-pane" id="pic-5">
                  <img
                    src="https://contents.mediadecathlon.com/p1811486/61a7a0b2eb9a79800998295eec69466a/p1811486.jpg?format=auto&quality=70&f=650x0"
                  />
                </div>
              </div>
              <ul class="preview-thumbnail nav nav-tabs">
                <li class="active">
                  <a data-target="#pic-1" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/0254/5883/5510/products/21_1024x1024.jpg?v=1647089566"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-2" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/0254/5883/5510/products/m1_1024x1024.jpg?v=1647089566"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-3" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/0254/5883/5510/products/a7_f596ee96-e705-4e83-9b2d-762232142c53_1024x1024.jpg?v=1647089566"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-4" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/0254/5883/5510/products/a2_b4cf09b8-c249-4a35-bddf-632d2427956d_1024x1024.jpg?v=1647089566"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-5" data-toggle="tab"
                    ><img
                      src="https://cdn.shopify.com/s/files/1/0254/5883/5510/products/1061w_1024x1024.jpg?v=1647089566"
                  /></a>
                </li>
              </ul>
            </div>
            <div class="details col-md-6">
              <h3 class="product-title">
                Saint Kate White Woven Leather Block Heel Mules
              </h3>
              <div class="rating">
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span class="review-no">50 reviews</span>
              </div>
              <p class="product-description">
                Grow your stylish wardrobe with a pair of soft cushioned hand
                woven white leather mid block heel from SaintG. A high-coverage
                mule featuring a statement woven strap and an elongated square
                toe and a short mid-heel. Woven features and a walkable heel
                make it so desirable. It comes with a leather covered heel, full
                leather lining and padded leather footbed for natural comfort
                and breathability. This slip on heel will lend a stylish look to
                your outfit. Brand Name - Saint G Closure - Slip On Upper -
                Leather Lining - Leather Insole - Leather Sole - Tunit Heel
                Height - 4.06 cm
              </p>
              <h4 class="price">current price: <span>Rs 7000/-</span></h4>
              <p class="vote">
                <strong>91%</strong> of buyers enjoyed this product!
                <strong>(90 votes)</strong>
              </p>
              <h5 class="sizes">
                sizes:
                <span class="size" data-toggle="tooltip" title="small">36</span>
                <span class="size" data-toggle="tooltip" title="medium"
                  >37</span
                >
                <span class="size" data-toggle="tooltip" title="large">38</span>
                <span class="size" data-toggle="tooltip" title="xtra large"
                  >39</span
                >
              </h5>
              <h5 class="colors">
                colors:
                <span
                  class="color orange not-available"
                  data-toggle="tooltip"
                  title="Not In store"
                ></span>
                <span class="color green"></span>
                <span class="color blue"></span>
              </h5>
              <div class="action">
                <button class="add-to-cart btn btn-default" type="button">
                  add to cart
                </button>
                <button
                  class="like btn btn-default"
                  type="button"
                  style="float:right"
                >
                  <span class="fa fa-heart"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1">
                <img
                  src="https://m.media-amazon.com/images/I/61YSNhAb00L._SX679_.jpg"
                />
              </div>
              <div class="tab-pane" id="pic-2">
                <img
                  src="https://m.media-amazon.com/images/I/61YSNhAb00L._SX679_.jpg"
                />
              </div>
              <div class="tab-pane" id="pic-3">
                <img
                  src="https://www.apple.com/v/iphone-14-pro/c/images/overview/hero/hero_iphone_14_pro__e0act2165xqq_large.jpg"
                />
              </div>
              <div class="tab-pane" id="pic-4">
                <img
                  src="https://contents.mediadecathlon.com/p1811427/79d488604a04ca6232460f9e3e031fa8/p1811427.jpg?format=auto&quality=70&f=650x0"
                />
              </div>
              <div class="tab-pane" id="pic-5">
                <img
                  src="https://contents.mediadecathlon.com/p1811486/61a7a0b2eb9a79800998295eec69466a/p1811486.jpg?format=auto&quality=70&f=650x0"
                />
              </div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active">
                <a data-target="#pic-1" data-toggle="tab"
                  ><img
                    src="https://www.apple.com/v/iphone-14-pro/c/images/overview/camera/header/camera_intro_endframe__bj2geltijuqa_large.jpg"
                /></a>
              </li>
              <li>
                <a data-target="#pic-2" data-toggle="tab"
                  ><img
                    src="https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2022/09/iPhone-14-Pro-performance-scaled.jpg?ssl=1"
                /></a>
              </li>
              <li>
                <a data-target="#pic-3" data-toggle="tab"
                  ><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaqYvFBlkwL3M4cWkkpYovI3Idksj_FDzS0A&usqp=CAU"
                /></a>
              </li>
              <li>
                <a data-target="#pic-4" data-toggle="tab"
                  ><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR9Dqx4TGrWABa1FWNw2OKz6086smZSLkMFw&usqp=CAU"
                /></a>
              </li>
              <li>
                <a data-target="#pic-5" data-toggle="tab"
                  ><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsXhRBKDJbKRbUd2GdC_2R_CFRmvvkwmjjrw&usqp=CAU"
                /></a>
              </li>
            </ul>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">Iphone 14 Pro</h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <p class="product-description">
              Cinematic mode now in 4K Dolby Vision up to 30 fps..
            </p>
            <h4 class="price">current price: <span>89900</span></h4>
            <p class="vote">
              <strong>91%</strong> of buyers enjoyed this product!
              <strong>(87 votes)</strong>
            </p>
            <h5 class="sizes">
              sizes:
              <span class="size" data-toggle="tooltip" title="small">8</span>
              <span class="size" data-toggle="tooltip" title="medium">9</span>
              <span class="size" data-toggle="tooltip" title="large">10</span>
              <span class="size" data-toggle="tooltip" title="xtra large"
                >11</span
              >
            </h5>
            <h5 class="colors">
              colors:
              <span
                class="color orange not-available"
                data-toggle="tooltip"
                title="Not In store"
              ></span>
              <span class="color green"></span>
              <span class="color blue"></span>
            </h5>
            <div class="action">
              <button class="add-to-cart btn btn-default" type="button">
                add to cart
              </button>
              <button
                class="like btn btn-default"
                type="button"
                style="float:right"
              >
                <span class="fa fa-heart"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>