<h2>Login Form</h2>
<label for="uname"><b>Username<br><br></b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password<br><br></b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
     <br>
     <div style="color:black"><a href="#"><u>Forgot Password?</u></a></div>
     <br>
    <button type="submit">Login</button><br><br>
    <div class="sign-up">Not a member?<a href="#"><u>Sign-Up now</u></a></div>
